@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-image: url("shoes-blue.jpg");
  background-size: cover;
}

#aboutPage h1, h2, h3, h4, h5{
  font-weight: 300;
}

#aboutPage h6 {
  font-weight: 300;
  margin: 0;
}

#overrides label {
  font-weight: 400;
  margin-top: 1px;
  margin-left: 20px
}

#overrides h6{
  margin-top: 0;
}

@media (max-width: 768px) {
  #navoveride .container{
    width:100%;
    min-width: 100%;
  }
}

.logo-small {
  color: #f4511e;
  font-size: 50px;
}

.logo {
  color: #f4511e;
  font-size: 200px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: url('shoes-blue.jpg');
}

.myclass {
  width: 44px;
  height: 46px;
  float: none;
  padding-left: 0px;
  padding-right: 0px;
  right: 0px;
  left: 0px
  border: 2px solid #cdcdcd;
  border-radius: 7px;
  border-color: rgba(0,0,0,.14);
  background-color: white;
  font-size: 14px;
}

.flabel {
  border-bottom: none;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
  float: left;
  width: 30%
}

.form-c {
  display: block;
  width: 44px;
  height: 46px;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-c-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

input[type=text] {
    padding-left: 2%;
    height: 30px;
    position: relative;
    left: 10px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}
.advancedSearchTextbox {
    width: 60px;
    margin-right: -4px;
}

.shopping-cart {
  width: 750px;
  height: 450px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.pricedisplay {
  padding: 20px 30px;
  height: 80px;
  display: flex;
  text-align: center;
}

.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("delete-icn.svg") no-repeat center;
  margin-right: 20px;
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  display: inline-block;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */
.image {
  margin-right: 50px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.totalprice {
  padding-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.totalprice text {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline:0;
}

/* Total Price */
.itemprice {
  width: 83px;
  padding-top: 26px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.form-check {
  float: left;
  margin-left: 6%;
}

.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 370px) {
  input#save {
    margin-top: 20px;
  }
}

input#delink:hover{
  font-weight: 405;
}

@media (min-width: 768px) {
  .navbar-nav.right {
    float: right;
  }
}

/* Responsive */
@media (max-width: 800px) {
  .col-sm-4 {
      text-align: center;
      margin: 25px 0;
  }

  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
