{% extends 'layout.html' %}
{% block content %}
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<head>
<title>About Page</title>
</head>
<body id = "aboutPage" data-spy="scroll" data-target = ".navbar" data-offset="60" style = "padding:0px; height: auto;">
  <div class = "jumbotron text-center" style = "background-size: cover; padding: 80px 25px; margin-bottom:0; margin-top:40px; border-radius:0;">
    <div class ="company-title" style = "">
      <h1>Hows Your Water?</h1>
      <p>Bringing water data to you.</p>
    </div>
  </div>
  <div id = "info" class = "container-fluid" style = "background-color: white;">
    <div class = "row">
      <div class = "col-sm-8" style = "float: right;">
        <br><h2>Purpose?</h2><br>
        <div class = "desc" style="max-width: 600px; margin-left:auto; margin-right: auto;">
          <h4 >The purpose of this website and our project is to provide a hassle-free and easy-to-use tool that any Californian can use to check the quality of water in their area. Originally meant as a live-tool, this now only serves for historical data. </h4><br>
          <p> Our original goal was to provide a live water supply checker to see for water contaminant levels, but found that the datasets are not live and do not provide real-time data, so instead, we display the most recent data as of Sept 15th 2018. </p><br>
        </div>
      </div>
      <div class = "col-sm-4">
        <span class ="glyphicon glyphicon-globe logo" style = "float: left; font-size:230px; padding:50px 10px; color: #ff6000de;"></span>
      </div>
    </div>
  </div>
  <div id = "mission" class = "container-fluid bg-grey" style = "padding-top: 20px; background-color: #f3f3f3;">
    <div class = "col-sm-4">
      <span class ="glyphicon glyphicon-tasks logo" style = "float: right; font-size:200px; color: #ff6000de; padding:50px 10px" src = "{{ url_for('static', filename = 'hanger.png') }}"></span>
    </div>
    <div class = "col-sm-8" style="float: left; padding-bottom: 20px;">
      <br><h2>Open-source</h2><br>
      <div class = "desc" style="max-width: 600px; margin-left:auto; margin-right: auto;">
        <h4>Leveraging open data from the California Government, amongst other entities, we aim to provide insight into water quality data trends, and plan to continue to contribue to this as an open-source project and invite any who wish to contribute to <a href = "mailto:bradleyjusticeca@gmail.com">contact us</a>, and check out our repository at <a href = "https://github.com/howsmywater">github</a>.</h4><br>
        <p> Many plans are in still in development and will continue to be released as they are completed, so be sure to check back, or better yet, get involved! Current plans include a radar map displaying contaminant levels, and time-history comparisons for individual stations as well as for comparison against state averages. </p><br>
      </div>
    </div>
  </div>
  <div id = "services" class = "container-fluid text-center" style = "background-color:white;">
    <h2>This is a Hackathon Project</h2>
    <h4>For the 2018 CA water data challenge.</h4><br>
    <img src = "{{ url_for('static', filename = "banner.jpg") }}" alt = "challenge banner" style = "width: auto; height: auto;">
    <img src = "{{ url_for('static', filename = "sponsors.jpg") }}" alt = "sponsors banner" style = "width: auto; height: auto;">
      <br><br>
    </div>
  </div>
</body>
{% endblock content %}
