<!DOCTYPE html>
<html>
    <head>
        <title>WQ Map</title>
        <script src="{{ url_for('static', filename='lib/index.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-X98n0hUcUfV5RJPWEKmsdmVpP_LfuLw&libraries=places"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='map-base.css') }}" />
        <style>
        .leaflet-container {
            width: 100%;
            height: 100%;
        }
        .leaflet-bar {
            box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
        }
        </style>
    </head>
    <body>
        <div style="background: RGB(26, 155, 252); box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);">
            <div style="margin: 0 auto; color: white; padding: 1rem 2rem">
                <span style="color: white; text-decoration: none; font-weight: bold; margin-right: 16px">Hows My Water?</span>
                <a style="color: white; text-decoration: none" href="{{ url_for('check') }}">About</a>
            </div>
        </div>
        <div id="map-root" style="width: 60%; height: 100%;"></div>
        <div id ="chart" style = "width: 40%; height: 100%;"></div>
    <body>
</html>
